{% load static wagtailuserbar wagtailimages_tags social_tags advert_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>

    <!-- Search engine stuff ... -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta property="og:title" content="{{ page.seo_title }}" />
    <meta name="description" content="{{ page.search_description }}">
    <meta property="og:description" content="{{ page.search_description }}">
    <meta property="og:image" content="{% if page.seo_image %}{% image page.seo_image fill-300x300 as img %}{{img.url}}{% else %}{% static 'images/cks/logo-square.png' %}{% endif%}">
    <meta property="og:url" content="{{ request.META.HTTP_HOST }}" />
    <meta property="og:type" content="article" />

    {# Global stylesheets #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Libre+Baskerville|Poppins&display=swap" rel="stylesheet"> -->
    <script src="https://kit.fontawesome.com/a8c156e5ce.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- Icon in browser tab -->
    <link rel="icon" href="{% static 'images/cks/logo.ico' %}">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% facebook_site_tag %}
    
    {% google_site_tag %}

    {% if page.google_ad_code %}
    <!-- Event snippet for CaSE dummy conversion page -->
    <script>gtag('event', 'conversion', {'send_to': '{% google_site_id %}/{{ page.google_ad_code }}'});</script>
    {% endif %}

    {% include 'home/_header.html' %}
        <main>
            <div class="container p-0">
            {% include 'home/_nav.html' %}
            <section class="d-flex justify-content-center">
                {% social_media_icons %}
            </section>

            {% block content %}{% endblock %}

            {% if page.slug != 'home' %}
            <!-- Items to display on pages other than Home -->
            <p class="text-center"><a href="{{ page.get_parent.url }}"><i class="fas fa-step-backward"></i> Return to
                    {{ page.get_parent.title }}</a></p>
            {% else %}
            <!-- Items to display on the Home page only -->{% endif %}
        </div>
        </main>
        
    {% include 'home/_footer.html' %}

    {# Global javascript #}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="{% static 'js/all.min.js' %}"></script> -->

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>