{% load static i18n %}

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
    <!-- Footer Elements -->
    <footer class="">
        <div
            class="  bg-light border-top border-warning pt-2 pb-lg-3">
            <div class="container d-flex flex-column flex-lg-row justify-content-around ">
                <div class="mx-md-3 text-center notranslate order-0 brand">
                    <i class="fas fa-map-marker-alt"></i> Chandra Kumala School <br>
                    <small class="text-muted">No.1 Block O, Per. Cemara Asri Deliserdang, Medan, Indonesia, 20317</small>
                </div>
                <div class="mx-md-3 text-center notranslate order-lg-2 brand">
                    <i class="fas fa-map-marker-alt"></i> Chandra Kumala School 2<br>
                    <small class="text-muted">CKS 2, Children’s Garden dan CaSE, Jalan S Parman Medan</small>
                </div>
                <div class="mx-md-3 text-center order-lg-1">
                    <a class="fa-2x text-primary" href="#_top"><i class="fas fa-arrow-circle-up"></i></a>
                </div>
            </div>
        </div>
        <div class=" d-flex flex-column flex-lg-row bg-light justify-content-around">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                <small>
                    © 2019 Copyright: Chandra Kumala School</small></div>
            <!-- Copyright -->
        </div>

    </footer>
    <!-- Footer Elements -->

</footer>
<!-- Footer -->