{% load static i18n wagtailcore_tags %}

<header class="d-flex justify-content-center my-3 " id="_top">

    <img class="mx-3 d-none d-xs-block d-sm-none" src="{% static "images/cks/logo-blue.svg" %}" width="55px"
        alt="Logo Image">
    <img class="mx-3 d-none d-sm-block d-lg-none" src="{% static "images/cks/logo-blue.svg" %}" width="90px"
        alt="Logo Image">
    <img class="mx-3 d-none d-lg-block" src="{% static "images/cks/logo-blue.svg" %}" width="120px" alt="Logo Image">

</header>