{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<h2>{{page.title}}</h2>

<p>You can access the admin interface <a href="{% url 'wagtailadmin_home' %}">here</a> (make sure you have run "./manage.py createsuperuser" in the console first).</p>

<p>If you haven't already given the documentation a read, head over to <a href="http://docs.wagtail.io/">http://docs.wagtail.io</a> to start building on Wagtail</p>
    {{ page.body|richtext }}

    <!-- {% for item in page.carousel_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>1) {{image}}</p>
            <p>2) {{item.image}}</p>
            <p>3) {% image item.image fill-320x240 %}</p>
            <p>4) {{ item.caption }}</p>
        </div>
    {% endfor %} -->

    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">

            {% for item in page.carousel_images.all %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                {% image item.image fill-1920x1080 class="d-block w-100" alt="..." %}
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ item.caption }}</h5>
                    <p>{{ item.caption }}</p>
                </div>
            </div>
            {% endfor %}

          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>


{% endblock %}